@model IEnumerable<Motorcycle_WebShop.Models.ProductImage>

@{
    ViewData["Title"] = "Index";
}

<h1>List of images</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.ProductId" style="text-decoration:none">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Main Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @{
                        if(!item.IsMainImage)
                        {
                            <div class="text-center rounded-2" style="background-color:red; text-decoration:none; width:96px">
                                <label style="color:white" class="fw-bold">No</label>
                            </div>
                        }
                        else
                        {
                            <div class="text-center rounded-2" style="background-color:limegreen; text-decoration:none; width:96px">
                                <label style="color:white" class="fw-bold">Yes</label>
                            </div>
                        }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="@item.FilePath" alt="@item.Title" height="75">
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="AdminProduct" asp-action="Edit" asp-route-id="@ViewBag.ProductId" class="btn btn-secondary">Back to Product</a>
</div>
