@model Motorcycle_WebShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product @Model.Title</h4>
    <hr />
        <div class="row">
        @if (Model.ProductImages != null)
        {
            foreach (var image in Model.ProductImages)
            {
                <div class="col-sm-3">
                    <img src="@image.FilePath" alt="@Model.Title" height="75">
                </div>
            }
        }
        else
        {
            <div class="col-sm-3">
                <img src="~/images/noimage.jpg" alt="@Model.Title" height="75">
            </div>
        }
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
                Product status is set to: 
        </dt>
        <dd class = "col-sm-10">
            @{
                if (Model.IsActive == true)
                {
                    <div class="text-center rounded-2" style="background-color:lightgreen; text-decoration:none; width:96px">
                        <label style="color:white" class="fw-bold">Active</label>
                    </div>
                }
                else
                {
                    <div class="text-center rounded-2" style="background-color:red; text-decoration:none; width:96px">
                        <label style="color:white" class="fw-bold">Inactive</label>
                    </div>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
