@model Motorcycle_WebShop.Data.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h1>View @Model.Email</h1>

<div>
    <dl class="row">
        <hr />
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-6" >
            @Html.DisplayFor(model => model.Role)
        </dd>
        <hr />
        <dt class="col-sm-6">
            Avatar
        </dt>
        <dd class="col-sm-6">
            No Picture
        </dd>
        <hr />
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <hr />
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <hr />
        <dt class = "col-sm-6">
            Status
        </dt>
        <dd class = "col-sm-1">
            @if (!Model.IsActive)
            {
                <div class="text-center rounded-2 w-75" style="background-color:red; text-decoration:none">
                    <label style="color:white" class="fw-bold">Inactive</label>
                </div>
            }
            else
            {
                <div class="text-center rounded-2 w-75" style="background-color:lightgreen; text-decoration:none">
                    <label style="color:white" class="fw-bold">Active</label>
                </div>
            }
        </dd>
        <hr />
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class = "col-sm-1">
            @if (!Model.EmailConfirmed)
            {
                <div class="text-center rounded-2 w-75" style="background-color:red; text-decoration:none">
                    <label style="color:white" class="fw-bold">No</label>
                </div>
            }
            else
            {
                <div class="text-center rounded-2 w-75" style="background-color:lightgreen; text-decoration:none">
                    <label style="color:white" class="fw-bold">Yes</label>
                </div>
            }
        </dd>
        <hr />
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd class = "col-sm-1">
            @if (!Model.TwoFactorEnabled)
            {
                <div class="text-center rounded-2 w-75" style="background-color:red; text-decoration:none">
                    <label style="color:white" class="fw-bold">No</label>
                </div>
            }
            else
            {
                <div class="text-center rounded-2 w-75" style="background-color:lightgreen; text-decoration:none">
                    <label style="color:white" class="fw-bold">Yes</label>
                </div>
            }
        </dd>
        <hr />
        <dt class="col-sm-6">
            Last Login At
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.LastLoginAt)
        </dd>
        <hr />
        <dt class="col-sm-6">
            Last Known IP Address
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.LastKnownIpAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
