@model Motorcycle_WebShop.Data.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h2>View @Model.Email</h2>

<div>
    <dl class="row">
        <hr />
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-8" >
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-4">
            Avatar
        </dt>
        <dd class="col-sm-8">
            @if (Model.AvatarFilePath != null)
            {
                <div class="col-sm-3">
                    <img src="@Model.AvatarFilePath" height="75">
                </div> 
            }
            else
            {
                <div class="col-sm-3">
                    <img src="~/images/noimage.jpg"  height="75">
                </div>
            }
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-4">
            Status
        </dt>
        <dd class="col-sm-8">
            @if (!Model.IsActive)
            {
                <div class="text-center rounded-2" style="background-color:red; text-decoration:none; width:128px">
                    <label style="color:white" class="fw-bold">Inactive</label>
                </div>
            }
            else
            {
                <div class="text-center rounded-2" style="background-color:lightgreen; text-decoration:none; width:128px">
                    <label style="color:white" class="fw-bold">Active</label>
                </div>
            }
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd class="col-sm-8">
            @if (!Model.EmailConfirmed)
            {
                <div class="text-center rounded-2" style="background-color:red; text-decoration:none; width:128px">
                    <label style="color:white" class="fw-bold">No</label>
                </div>
            }
            else
            {
                <div class="text-center rounded-2" style="background-color:lightgreen; text-decoration:none; width:128px">
                    <label style="color:white" class="fw-bold">Yes</label>
                </div>
            }
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd class="col-sm-8">
            @if (!Model.TwoFactorEnabled)
            {
                <div class="text-center rounded-2" style="background-color:red; text-decoration:none; width:128px">
                    <label style="color:white" class="fw-bold">No</label>
                </div>
            }
            else
            {
                <div class="text-center rounded-2" style="background-color:lightgreen; text-decoration:none; width:128px">
                    <label style="color:white" class="fw-bold">Yes</label>
                </div>
            }
        </dd>
        <dt class="col-sm-4">
            Last Login At
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastLoginAt)
        </dd>
        <dt class="col-sm-4">
            Last Known IP Address
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastKnownIpAddress)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
