@model List<Motorcycle_WebShop.Models.Product>

@{
    ViewData["Title"] = "Product";
}

<h2>Products</h2>

<div class="row">
    <form class="row" asp-action="ProductUpdate" asp-controller="Home">
        <div class="col-sm-1"> 
            <p>Showing @Model.Count</p>
            <input type="number" name="per_page" class="form-control" value="@Model.Count">
        </div>

        <div class="col-sm-8">
            <p>Search for product by name</p>
            <div class="input-group">
                <input name="search_product" type="text" placeholder="Search" class="form-control" />
                <button type="submit" class="btn btn-primary">Search</button>
            </div> 
        </div>
        
        <div class="col-sm-2">
            <p>Select Category</p>
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" style="width:190px" type="button" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach(var item in ViewBag.Categories)
                    {
                        <a class="dropdown-item form-control" href="#">@item.Title</a>
                    }
                </div>
            </div> 
            <input type="hidden" id="selectedItem" name="categoryTitle" class="form-control">
        </div>

        <div class="col-sm-1">
            <p>Reset Filter</p>
            <a asp-action="Product" class="btn btn-secondary" style="width:108px">Reset</a>
        </div>
    </form>
</div>
<div class="row mt-3"> 
    @foreach (var item in Model) {
         <div class="col-sm-4"> <br>
              <div class="card">
                   <div class="card-body">
                        <a asp-action="Product" asp-route-id="@item.Id" style="color:inherit; text-decoration:none">
                        @{
                            try
                            {
                                var image = item.ProductImages.FirstOrDefault(x => x.IsMainImage == true);
                                if (image != null)
                                {
                                    <img class="card-img" src="@image.FilePath" alt="@item.Title">
                                }
                                else
                                {
                                    <img class="card-img" src="~/images/noimage.jpg" alt="@item.Title">
                                }
                            }
                            catch
                            {
                                <img class="card-img" src="~/images/noimage.jpg" alt="@item.Title">
                            }
                        }
                      <h5 class="card-title">@item.Title</h5>
                      <p class="card-text">@item.Description</p>
                        </a>
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th> Price </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>@item.Price.ToString("C")</td>
                                    <td>
                                        <form method="post" asp-controller="Cart" asp-action="AddToCart">
                                            <input type="hidden" name="productId" value="@item.Id" />
                                            <input type="submit" class="btn btn-success btn-sm" value="Add to cart" style="float:right">
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                   </div>
              </div>
         </div>
    }
</div>

<script>
    const dropdownButton = document.getElementById("dropdownMenuButton");
    const selectedItemField = document.getElementById("selectedItem");
    const dropdownItems = document.querySelectorAll(".dropdown-item");

    dropdownItems.forEach(item => {
        item.addEventListener("click", function () {
            const selectedValue = this.textContent;
            dropdownButton.textContent = selectedValue;
            selectedItemField.value = selectedValue;
        });
    });

</script>


